#reception{
    position: relative;
}
main img{
    width: 100%;
}
h1 {
    position: absolute;
    top: 3%;
    left: 6%;
    box-shadow: 5px 5px 10px rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0.5rem;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0);
    box-shadow: 5px 5px 10px rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0.85);
}

#info h2, #info h3{
    border-bottom: 5px solid #462749;
}

#info ul{
    padding-left: 2rem;
    list-style-type: square;
}

/* Small Width */
@media only screen and (max-width: 600px) {
    #info{
        position: relative;
        grid-template-columns: 1fr;
    }
    h1{
        left: 50%;
        width: 90%;
        text-align: center;
        transform: translate(-50%, 0);
    }
}